:root {
    --accent-color: rgb(33,33,33);
    --bg-color: #FFFFFF;
    --text-color: #111111;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}


a{
    color: rgb(255,69,0)
}

a:hover{
    font-style:italic
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0%;
}

.header {
    background-color: var(--accent-color);
    color: white;
    height: auto;
    padding-bottom: 0.5rem
}

h1 {
    font-size: 8rem;
    letter-spacing: -0.05em;
    font-family: "Urbanist", sans-serif;
    font-weight: 400;
    margin: none;
    padding-left: 1rem;
    text-align: justify;
}

h2 {
    font-family: "Urbanist", sans-serif;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(33,33,33);
    color: white;
    padding: 0.3rem;
}

h3 {
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: -0.02em;
    font-size: 3em;
    font-weight: 400;
    text-align: left;
    margin-bottom: 0%;
}

.section p {
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: -0.02em;
    font-weight: 400;
    margin-left: 1rem;
    line-height: 0.5em;
    font-size: 2em;
    color: dark grey;
}

.informed-text{
    padding-left: 7em;
    padding-right: 7em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

#instructions-content{
    padding-left: 1em;
    width: 70%;
    margin-top: 2em;
}

#informed-consent p{
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: -0.02em;
    font-weight: 400;
    margin-left: 1rem;
    line-height: 1.2em;
    font-size: 1em;
    color: dark grey;
}

#informed-consent h4{
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: -0.02em;
    font-weight: 400;
    margin-left: 1rem;
    font-size: 1.5em;
    text-transform: uppercase;
    color: dark grey;
    margin-top: 1em;
}

#instructions-content p {
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: -0.02em;
    font-weight: 400;
    margin-left: 1rem;
    line-height: 1em;
    font-size: 1.5em;
    color: dark grey;
}

.section p:hover, #instructions-content p:hover{
 color: rgb(255,69,0);
}

.dynamic-text {
    color: rgb(255,69,0);
}

.study-info {
    list-style: none; /* Removes default bullets */
    padding-left: 0; /* Removes default padding */
}

.study-info li {
    margin-bottom: 1rem; /* Space between items */
    position: relative;
    padding-left: 1.5rem; /* Space for custom bullet */
}

.study-info li:before {
    content: "★"; /* Custom bullet */
    position: absolute;
    font-size: 2em;
    margin-top: -0.5em;
    left: 0;
    color: rgb(33,33,33); /* Your accent color */
}


.title {
    font-family: 'Space Grotesk', sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 2em;
    color: var(--accent-color);
    background-color: white;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.title img{
    height: 1em;
    margin-right: 0.5rem;
    justify-content: center;
    margin-top: 0.5rem;
}

.title img:hover{
    animation: spin 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.section {
    margin-bottom: 0;
    border-top: 2px solid rgb(33,33,33);
    padding: 1rem;
}

.scroll-container {
    width: 100vw;
    height: 10em;
    overflow: hidden;
    position: relative;
    background: #ffffff;
}

.scroll-content {
    display: flex;
    animation: scroll 15s linear infinite;
    /* Double the content for seamless loop */
    height: 200%;
}

.image-group {
    display: flex;
    width: 100%;
}

.scroll-content img {
    height: 50%; /* 5 images per group */
    max-height: 50vh;
    object-fit: cover;
    flex-shrink: 0;
    filter: grayscale(100%) contrast(0.8);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Move by half width for seamless loop */
    }
}

/* Optional hover pause */
.scroll-container:hover .scroll-content {
    animation-play-state: paused;
}

.button {
    color: var(--accent-color);
    background-color: white;
    border: none;
    border-bottom: 2px solid rgb(33,33,33);
    border-top: 2px solid rgb(33,33,33);
    padding: 0rem 2rem;
    cursor: pointer;
    transition: opacity 0.3s;
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: -0.02em;
    font-size: 3em;
    font-weight: 400;
    text-align: left;
    width: 100%;
    margin-top: 0.3em;
    position: absolute;
    left:0;
}

#start-button, #begintrials-button, #agree{
    position: absolute;
    bottom: 0;
}

.button:hover {
    background-color: var(--accent-color);
    color: white;
    transition: 0.3s ease-in-out
}

.compositions-container {
    display: flex;
    justify-content: space-between; /* or center, but not both */
    align-items: center;
    gap: 1rem;
    margin: 2rem auto; /* auto margins for horizontal centering */
    width: 50%;
}

.composition {
    flex: 1;
    border: none;
    padding: 1rem;
    cursor: pointer;
    transition: transform 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.composition:hover {
    transform: scale(1.1);
}

.stimulus-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stimulus-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.progress-bar {
    width: 100%;
    height: 5px;
    background-color: #EEEEEE;
    margin: 2rem;
}

.progress-bar-fill {
    height: 100%;
    background-color: var(--accent-color);
    transition: width 0.3s;
}

.instruction-text {
    text-align: center;
    margin-top: 1rem;
    color: var(--text-color);
}

.chart-container {
    justify-content: space-between; /* or center, but not both */
    align-items: center;
    gap: 1rem;
    margin: 2rem auto; /* auto margins for horizontal centering */
    width: 50%;
    width: 70%;
    height: auto;
    padding: 1rem;
}

 .hidden {
    display: none;
}

ol {
    margin-left: 2rem;
    margin-bottom: 2rem;
}

ol li {
    margin-bottom: 0.5rem;
}

#debrief {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    border-top: 2px solid rgb(255,69,0);
    padding-bottom: 1em;
}

#debrief p{
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: -0.02em;
    font-weight: 400;
    margin-left: 1em;
    line-height: 1.1em;
    font-size: 1.3em;
    color: dark grey;
}

#debrief a {
    color: rgb(255,69,0);
}

#debrief a:hover{
    font-style: italic;
}

#debrief h3 {
    text-align: left;
    margin-left: 0.5em;
}

.section2 p {
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: -0.02em;
    font-weight: 400;
    margin-left: 1em;
    line-height: 1em;
    font-size: 1.5em;
    color: dark grey;
}

.section2 h3 {
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: -0.02em;
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 0%;
    text-align: left;
    margin-left: 1em;
}
.card {
    width: 11rem;
    height: 14rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    perspective: 1000px;
    align-content: center;
  }
  
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .card.flipped .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .card-back {
    background-color: var(--accent-color);
    color: rgb(33, 33, 33);
    transform: rotateY(180deg);
  }
  
  .card-front {
    background-color: rgb(33, 33, 33);
    color: var(--accent-color);
  }
  
  .card-front {
    background-color: rgb(33, 33, 33);
    color: var(--accent-color);
  }
  
  .card-back {
    background-color: var(--accent-color);
    color: rgb(33, 33, 33);
    transform: rotateY(180deg);
  }
  
  .card-front svg,
  .card-back svg {
    max-width: 80%;
    max-height: 80%;
  }
  
  #cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
    max-width: 30em;
    margin: 5em auto;
  }

  #recognition-test {
    width: 100%;
    margin: 0 auto;
  }

  #recognition-test h3 {
    padding-left: 1em;
    margin-top: 1rem;
  }

#recognition-test p {
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: -0.02em;
    font-weight: 400;
    margin-left: 1rem;
    line-height: 0.5em;
    font-size: 1.5em;
    color: dark grey;
    padding-left: 1em;
}

  #recognition-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 2em;
  }
  
  .recognition-option {
    border: 2px solid var(--accent-color);
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s ease;
  }
  
.recognition-option:hover {
    border: 3px solid rgb(255,69,0);
    transition: border-color 0.3s ease;

}

  .recognition-option.selected {
    border: 3px solid rgb(255,69,0)
  }

  .recognition-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .recognition-card {
    width: 4.5rem;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .recognition-card svg {
    width: 80%;
    height: 80%;
  }
  
  #recognition-test .button{
    color: var(--accent-color);
    background-color: white;
    border: none;
    border-bottom: 2px solid rgb(33,33,33);
    border-top: 2px solid rgb(33,33,33);
    padding: 0rem 2rem;
    cursor: pointer;
    transition: opacity 0.3s;
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: -0.02em;
    font-size: 3em;
    font-weight: 400;
    text-align: left;
    width: 100%;
    margin-top: 0.3em;
    position: absolute;
    bottom: 0;
    left: 0;
}

#recognition-test .button:hover {
    color: white;
    background-color: var(--accent-color);
    transition: 0.3s ease-in-out
}

.results-text {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.1rem;
}

.save-section {
    padding-top: 1rem;
    padding-left: none;
    width: 100%;
    border-top: 2px solid rgb (33,33,33);    
}

.save-section h3 {
    font-size: 3rem;
    margin-bottom: 0;
    margin-left: 1rem;
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: -0.02em;
    font-weight: 400;
    color: rgb(33, 33, 33)
  }

.save-section p {
    font-size: 2rem;
    margin-bottom: 0;
    margin-right: 1rem;
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: -0.02em;
    font-weight: 400;
    color: rgb(33, 33, 33);
    margin-left: -1em;
  }

#debrief {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    border-top: 2px solid rgb (33,33,33);
}

#debrief p{
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: -0.02em;
    font-weight: 400;
    margin-left: 1em;
    line-height: 1.1em;
    font-size: 1.3em;
    color: dark grey;
}

#debrief a {
    color: rgb(255,69,0);
}

#debrief a:hover{
    font-style: italic;
}

.card-arrangement {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    max-width: 300px;
    margin: 0 auto 2rem;
  }
  
  .result-card {
    width: 100%;
    aspect-ratio: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  
  .result-card svg {
    width: 80%;
    height: 80%;
  }
